@using ViewExtensions

@{
    ViewBag.Title = "Home Page";
}

<p>home page</p>

<a href="/">/</a>
<br />
<a href="/Contact">/Contact</a>
<br />
<a href="/JSNLog.js/JL">/JSNLog.js/JL</a>
<br />
<a href="/JSNLog.js/JL/setOptions">/JSNLog.js/JL/setOptions</a>
<br />
----
@Html.ActionLink("xxxx", "Contact")
-----
@Html.ViewLink("kkk")







